:root {
  --table-header-bg-color: rgba(0, 0, 0, .02);
}

.droppable-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 9px 24px;
  font-size: 14px;
  line-height: 22px;
  background: var(--table-header-bg-color);
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}

.droppable-wrap {
  /* border: 1px solid #dee2e6 */
}

.draggable-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
}


.tag-content {
  padding: 4px 6px;
  border: 1px solid #0db2e9;
  color: #0db2e9;
  background-color: #dceaef;
}